@keyframes italicShift {
  from {
    font-variation-settings: "wght" 550, "ital" 0;
  }
  to {
    font-variation-settings: "wght" 750, "ital" 1;
  }
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.animate {
  background: linear-gradient(
    90deg,
    #f6f6f6 0%,
    #f6f6f6 40%,
    #e5e5e5 50%,
    #f6f6f6 60%,
    #f6f6f6 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 5s ease-in-out infinite;
}

html[data-theme="dark"] .animate {
  background: linear-gradient(
  90deg,
  #2e2e2e 0%,
  #2e2e2e 25%,
  #3e3e3e 50%,
  #2e2e2e 75%,
  #2e2e2e 100%
);
}