:root {
    --main-component-color: #ffffff;
    --background: #f9f9f9;
    --label-color: #f7f8fd;
    --main-text-color: #2f2222;
    --img-text-color: #ffffff;
    --low-opacity-text-color: #2f222266;
    --blue-text-color: #5d71dd;
    --blue-active-text-color: #6c7dd8;
    --blue-background-color: var(--blue-text-color);
    --form-background-color: #f5f5f5;
    --form-active-background-color: #ededed;
    --footer-background-color: #f1f2f8;
    --non-active-button-color: #f1f2f8;
    --button-hover-color: #e2e5f5;
    --button-active-color: #dadef3;
    --text-link-avtive-color: var(--blue-text-color);
    --form-outline-color: var(--blue-text-color);
    --dividing-string-color: #ededed;

    --content-max-width: 1400px;
    --page-padding: 42px;
}
