:root {
	--main-component-color: #ffffff;
	--background: #f9f9f9;
	--label-color: #f7f8fd;
	--main-text-color: #2f2222;
	--img-text-color: #ffffff;
	--low-opacity-text-color: #2f222266;
	--blue-text-color: #5d71dd;
	--blue-active-text-color: #6c7dd8;
	--blue-background-color: var(--blue-text-color);
	--form-background-color: #f5f5f5;
	--form-active-background-color: #ededed;
	--footer-background-color: #f1f2f8;
	--non-active-button-color: #f1f2f8;
	--button-hover-color: #e2e5f5;
	--button-active-color: #dadef3;
	--text-link-avtive-color: var(--blue-text-color);
	--form-outline-color: var(--blue-text-color);
	--dividing-string-color: #ededed;

	--content-max-width: 1024px;
	--page-padding: 42px;

		color-scheme: light;
		--bg-color-1: #ffffff;
		--bg-color-2: #fcfcfc;
		--bg-color-3: #ffffff;
		--bg-color-4: #52525211;
		--bg-color-5: #02020211;
		--bg-color-6: #ffffff31;
		--bg-color-7: #ffffff48;
		--bg-color-8: #ffffff42;
		--bg-color-9: #2828281f;
		--bg-color-10: #b8b8b847;
		--bg-color-11: #ffffff77;
		--bg-color-12: #00000011;
		--bg-color-13: #474747;
		--bg-color-14: #f3f3f3;
		--bg-color-15: #ffffff;
		--bg-color-16: #1a8fd3;
		--text-color-1: #000000af;
		--text-color-2: #f5f5f5; /* const */
		--text-color-3: #f5f5f5b9; /* const */
		--tetx-color-4: #616161;
		--text-color-5: #000000;
		--text-color-6: #00000094;
		--text-color-7: #616161;
		--stroke-color-1: #ebebeb4d;
		--stroke-color-2: #5e98f0;
		--border-color-1: #0000000a;
		--scroll-bar-color: #e7e7e7;
		--scroll-bar-color-2: #a3a3a39a;
		--text-decoration-color-1: #c6c6c6;
		--text-decoration-color-2: #646464;
		--gradient-1: linear-gradient(190deg, #6686b4 0%, #7f8b99 92%);
		--gradient-2: linear-gradient(190deg, #6da3b4 0%, #8090a0 92%);
		--gradient-3: linear-gradient(190deg, #8f8dbb 16%, #96959e 100%);
	
	}
body.night-mode {
	color-scheme: dark;
	--bg-color-1: #4a4c4e;
	--bg-color-2: #3d3d3f;
	--bg-color-3: #585858;
	--bg-color-4: #ffffff11;
	--bg-color-5: #e4e4e411;
	--bg-color-6: #ffffff31;
	--bg-color-7: #ffffff48;
	--bg-color-8: #ffffff42;
	--bg-color-9: #cccccc1f;
	--bg-color-10: #a7a7a748;
	--bg-color-11: #4d4d4d77;
	--bg-color-12: #ffffff11;
	--bg-color-13: #c9c9c9;
	--bg-color-14: #555555;
	--bg-color-15: #5c5c5c;
	--bg-color-16: #3a94c7;
	--text-color-1: #d1d1d1d7;
	--text-color-2: #f5f5f5; /* const */
	--text-color-3: #f5f5f5b9; /* const */
	--tetx-color-4: #616161;
	--text-color-5: #ffffff;
	--text-color-6: #ffffff94;
	--text-color-7: #a1a1a1;
	--stroke-color-1: #6666664d;
	--stroke-color-2: #5e98f0;
	--border-color-1: #ffffff0a;
	--scroll-bar-color: #8f8f8f;
	--scroll-bar-color-2: #ececec9a;
	--text-decoration-color-1: #777777;
	--text-decoration-color-2: #b1b1b1;
	--gradient-1: linear-gradient(190deg, #5c6e8b 0%, #4c545f 92%);
	--gradient-2: linear-gradient(190deg, #58757e 0%, #545b62 92%);
	--gradient-3: linear-gradient(190deg, #6f6c8b 16%, #535358 100%);
}
