:root {
	--main-component-color: #ffffff;
	--background: #f9f9f9;
	--label-color: #f7f8fd;
	--main-text-color: #2f2222;
	--img-text-color: #ffffff;
	--low-opacity-text-color: #2f222266;
	--blue-text-color: #5d71dd;
	--blue-active-text-color: #6c7dd8;
	--blue-background-color: var(--blue-text-color);
	--form-background-color: #f5f5f5;
	--form-active-background-color: #ededed;
	--footer-background-color: #f1f2f8;
	--non-active-button-color: #f1f2f8;
	--button-hover-color: #e2e5f5;
	--button-active-color: #dadef3;
	--text-link-avtive-color: var(--blue-text-color);
	--form-outline-color: var(--blue-text-color);
	--dividing-string-color: #ededed;

	--content-max-width: 1400px;
	--page-padding: 42px;

	--text-color-1: #000000bb;
	--text-color-2: #3c3c3cb9;
	--text-color-3: #131313;
	--text-color-4: #000000;
	--text-color-5: #00000091;
	--text-color-6: #ffffff;
	--bg-color-1: #fcfcfc;
	--bg-color-2: #ffffff;
	--bg-color-3: var(--text-color-1);
	--bg-color-4: #d8d8d871;
	--bg-color-5: #00000035;
	--bg-color-6: #00000045;
	--bg-color-7: #0000001a;
	--bg-color-8: #3f93fa1c;
	--bg-color-9: #1b85d6a9;
	--bg-color-10: #3f93fa11;
	--bg-color-11: #1b85d68f;
	--bg-color-12: #ebebeb9f;
	--bg-color-13: #000000;
	--bg-color-14: #00000057;
	--bg-color-15: #ffffffc3;
	--bg-color-16: #00000013;
	--bg-color-17: #0000003e;
	--bg-color-18: #e7e7e7;
	--bg-color-19: #ffffffeb;
	--bg-color-20: #00000020;
	--bg-color-21: #ffffffa4;
	--bg-color-22: #00000035;
	--bg-color-23: #ffffff23;
	--bg-color-24: #ffffffd1;
	--bg-color-25: #f0f0f0;
	--bg-color-26: #646464;
	--bg-color-27: #ffffff;
	--bg-color-28: #00000036;
	--border-color-1: #ffffff00;
	--box-shadow-color-1: #2088ff5e;
	--text-decoration-color-1: #c6c6c6;
	--text-decoration-color-2: #646464;
	--scrollbar-track-color-1: #a9a9a900;
	--scrollbar-thumb-color-1: #00000028;
	--scrollbar-thumb-color-2: #00000048;
	--selection-color: #1454ada4;
	
}
html.dark-theme {
	--text-color-1: #d1d1d1d7;
	--text-color-2: #c8c8c8b9;
	--text-color-3: #f5f5f5;
	--text-color-4: #ffffffdf;
	--text-color-5: #ffffffb1;
	--bg-color-1: #3d3d3f;
	--bg-color-2: #4a4c4e;
	--bg-color-3: var(--text-color-1);
	--bg-color-4: #5c5c5c73;
	--bg-color-5: #00000035;
	--bg-color-6: #ffffff45;
	--bg-color-7: #ffffff1d;
	--bg-color-8: #3f93fa1c;
	--bg-color-9: #25a1ffa9;
	--bg-color-10: #6aadff11;
	--bg-color-11: #1f9eff8f;
	--bg-color-12: #51515193;
	--bg-color-13: #ffffff;
	--bg-color-14: #00000057;
	--bg-color-15: #4a4c4eb0;
	--bg-color-16: #00000013;
	--bg-color-17: #ffffff3e;
	--bg-color-18: #e7e7e7;
	--bg-color-19: #4a4c4eb0;
	--bg-color-20: #ffffff20;
	--bg-color-21: #6d6d6da4;
	--bg-color-22: #ffffff35;
	--bg-color-23: #4a4c4e32;
	--bg-color-24: #3d3d3f;
	--bg-color-25: #5f5f5f;
	--bg-color-26: #646464;
	--bg-color-27: #57595c;
	--bg-color-28: #ffffff32;
	--border-color-1: #ffffff3a;
	--box-shadow-color-1: #1b5ba45e;
	--text-decoration-color-1: #777777;
	--text-decoration-color-2: #b1b1b1;
	--scrollbar-track-color-1: #a9a9a900;
	--scrollbar-thumb-color-1: #ffffff28;
	--scrollbar-thumb-color-2: #ffffff48;
	--selection-color: #6ba5f6a4;
}
